extends ./template/layout
include ./mixin/index

block header_scripts
  +reset(appname)
  script(src='/script/recorder.js')
  script.
    var __wxConfig__ = !{JSON.stringify(config)}

block footer_scripts
  script(src='/script/build.js?v={{= config.version}}')

block content
  audio#audio(type='audio/mp3', style='display:none;')
  audio#background-audio(type='audio/mp3', style='display:none;')
  #app
  .head
  .scrollable
  .tabbar-root(class='{{if config.topBar}}tabbar-root-top{{/}}')
