extends ./template/layout
include ./mixin/index

block header_scripts
  +reset(appname)
  script.
    var __wxConfig = !{JSON.stringify(config)}
    var __wxAppData = {};
    var __wxRoute, __wxRouteBegin, __eval = eval;
    global = {};

block footer_scripts
  script.
    window._____sendMsgToNW({
      sdkName: 'APP_SERVICE_COMPLETE'
    });

block content
  script(src='/script/bridge.js?v=#{config.version}', type='text/javascript')
  script(src='/script/baseService.js?v=#{config.version}', type='text/javascript')
  script(src=`/${appname}/service.js`, type='text/javascript')
